*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;

}
nav ul{
	display: inline-block;
	list-style-type: none;
	
}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration:  none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;

}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition:  background 0.5s;
}
.btn:hover{
	background: #563434;

}
.header{
	background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
	margin-top: 70px;
}
.categories{
	margin: 70px 0;
}
.col-4{
	flex-basis:  25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
	border-radius: 10px;

}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: '';
	background: red;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.h4{
	color: #555;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.col-4:hover{
	transform:  translateY(-5px);
}
.header1{
    position: absolute;
    top: 0;
}
.navbar1{
	display: flex;
	align-items: center;
	padding: 20px;
}
.nav1{
	flex: 1;
	text-align: right;

}
.nav1 ul{
	display: inline-block;
	list-style-type: none;
	
}
.nav1 ul li{
	display: inline-block;
	margin-right: 20px;

}
.offer{
	background: radial-gradient(#fff,#ffd6d6);
	margin-top: 80px;
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 50px;
}
small{
	color: ;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html{
	overflow-x: hidden;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 13px;
	text-align: center;
	font-family: "Roboto";
	background: #fcfcfd;
}
section{
	float: left;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #808080;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: #696969;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #ff523b;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #ff523b;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #ccc;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #ff523b;
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #ff523b;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#ff523b;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #ff523b;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #ff523b;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}